---
layout: default
---

<div id="home">

  <div class="posts-by-category">
    <h2>// my research</h2>
    <ul class="posts">
      {% for post in site.categories.rse -%}
        <li><span>{{ post.date | date: "%Y-%m-%d"  }}</span> &raquo; <a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></li>
      {% endfor %}
  </ul>
  </div>

  <div class="posts-by-category">
    <h2>// economic data</h2>
    <ul class="posts">
      <li><span>2021-09-12</span> &raquo; <a href="https://zemw.github.io/ce/">China Economy Snapshot</a></li>
      <li><span>2021-09-10</span> &raquo; <a href="https://zemw.github.io/us/">U.S. Economy at a Glance</a></li>
    </ul>
  </div>

  <div class="posts-by-catagory">
    <h2>// 1-minute paper</h2>
    <ul class="posts">
      <li><span>2021-10-07</span> &raquo; <a href="{{site.baseurl}}/pap/Dustmann2021.html">Reallocation effects of the minimum wage</a></li>
      <li><span>2021-09-19</span> &raquo; <a href="{{site.baseurl}}/pap/Salido2017.html">Credit-market sentiment and the business cycle</a></li>
      <li><span>2021-09-15</span> &raquo; <a href="{{site.baseurl}}/pap/Cerra2008.html">The myth of economic recovery</a></li>
      <li><span>2021-09-13</span> &raquo; <a href="{{site.baseurl}}/pap/Rogoff2020.html">Peak China Housing</a></li>
      <li><span>2021-08-10</span> &raquo; <a href="{{site.baseurl}}/pap/Romer2017.html">Aftermath of financial crisis</a></li>
      <li><span>2021-08-04</span> &raquo; <a href="{{site.baseurl}}/pap/Krish2017.html">Credit spread and financial crisis</a></li>
      <li><span>2021-07-20</span> &raquo; <a href="{{site.baseurl}}/pap/Jorda2021.pdf">Bank solvency, liquidity, and crisis</a></li>
      <li><span>2021-06-06</span> &raquo; <a href="{{site.baseurl}}/pap/Baron2021.html">Banking crises without panics</a></li>
      <li><span>2021-04-26</span> &raquo; <a href="{{site.baseurl}}/pap/Schularick2012.html">Credit booms gone bust</a></li>
      <li><span>2021-01-31</span> &raquo; <a href="{{site.baseurl}}/pap/Mian2017.pdf">Household debt and business cycles</a></li>
      <li><span>2020-12-09</span> &raquo; <a href="{{site.baseurl}}/pap/Griffin2020.pdf">Bitcoin and Tether</a></li>
      <li><span>2020-01-21</span> &raquo; <a href="{{site.baseurl}}/pap/Autor2019.pdf">The rise of superstar firms</a></li>
      <li><span>2019-10-16</span> &raquo; <a href="{{site.baseurl}}/pap/YWang2015.pdf">The rise of rule of law in China</a></li>
    </ul>
  </div>

  <div class="posts-by-catagory">
    <h2>// casual writings</h2>
    <ul class="posts">
        {% for post in site.categories.misc -%}
          <li><span>{{ post.date | date: "%Y-%m-%d"  }}</span> &raquo; <a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
  </div>

</div>
