<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ site.title }}</title>
   <meta name="author" content="DZ.WANG" />
   <link rel="icon" href="{{site.baseurl}}/favicon.ico" type="image/x-icon" />
   <!-- prevent this site being indexed by search engine -->
   <meta name="robots" content="noindex">
   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="{{site.baseurl}}/css/syntax.css" type="text/css" />
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="{{site.baseurl}}/css/screen.css" type="text/css" media="screen, projection" />
   <!-- Adobe Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
   <!-- MathJax -->
    <script id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>
</head>

<body>
<!-- Main body -->
<div class="site">
  <div class="title">
    <a href="{{site.baseurl}}">{{ site.title }}</a>
    {% for menu in site.menu -%}
    <a href="{{site.baseurl}}{{menu.url}}" class="extra">{{ menu.title }}</a>
    {% endfor -%}
  </div>

  {{ content }}

  <!-- Site footer -->
  <div class="footer">
    <p>
      <a href="{{site.baseurl}}/feed.xml">RSS</a> &bull;
      <a href="{{site.baseurl}}/about.html">About</a> &bull;
      <a href="{{site.twitter}}">Twitter</a> &bull;
      <a href="{{site.github}}">GitHub</a>
    </p>
    <p>Copyright &copy; All rights reserved.</p>
  </div>
</div>

<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-6016902-1");
pageTracker._trackPageview();
</script>
<!-- Google Analytics end -->

</body>
</html>
